img{
  display: block;
  max-width: 100%;
}

.main__body {
  margin-top: 20px;
  margin-bottom: 20px;
}
.preview {
  width: 256px;
  height: 144px;
  overflow: hidden;
  margin: 5px;
}

.cv__layout--left {
    width: 210mm;
    height: 297mm;
    font-family: roboto,Arial,sans-serif;
    font-size: 14px;
    float: left;
}
.cv {
    /* margin-top: 30px; */
    padding: 10px;
    background-color: rgba(0, 124, 102, .15);
    height: 100%;
    width: 100%;
}
.cv__container {
    background-color: white;
    width: 100%;
    height: 100%;
    /* margin: 10px; */
    /* padding: 20px; */
}
.cv__header {
    height: 233px;
    width: 100%;
    /* padding: 10px; */
    margin-bottom: 30px;
}

.avatar__box--left {
    /* max-width: 25%; */
    /* width: 25%; */
    /* height: 100%; */
    margin-right: 4%;
    margin-left: 1%;
    /* align-items: center; */
    margin-top: 5px;
    float: left;
}
.demo-container {
    width: 100%;
    height: 100%;
    /* max-height: 100px; */
}

.avatar__uploader.dx-viewport.dx-device-desktop.dx-device-generic.dx-theme-generic.dx-theme-generic-typography.dx-color-scheme-light {
    height: 210px;
    width: 158px;
    padding: 20px 0 0 20px;
}

.cv__opening--right {
    float: left;
    width: 71%;
    height: 160px;
    margin-top: 20px;
    margin-left: 0;
    /* padding-top: 19px; */
    margin-right: 2%;
}

.cv__textbox {
    border: 1px rgb(63,63,63, 0) dashed;
    /* margin: 1%; */
    color: rgb(0, 124, 102);
    display: inline-block;
    word-break: break-word;
    text-align: justify;
    padding: 0;
}
.cv__textbox:hover,
.cv__textbox:focus {
    border: 1px rgb(63,63,63, .2) dashed;
    outline: none;
}
.cv--fullname {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 8px;
    /* width: 70%; */
}
.cv__box.cv--position{
  font-size: 20px;
}
.cv__box.cv--quote{
  font-size: 12px;
}
.cv__icon--quote{
  margin: 10px 0 0;
}
.cv__icon--quote i.fas.fa-quote-right {
  color: rgba(204, 193, 171, .9);
  font-size: 35px;
 }
.demo-container {
    width: 100%;
    height: 100%;
}

.avatar__uploader.dx-viewport.dx-device-desktop.dx-device-generic.dx-theme-generic.dx-theme-generic-typography.dx-color-scheme-light {
    /* height: 100%; */
    /* width: 100%; */
}

#dropzone-external {
    width: 100%;
    height: 100%;
    background-color: rgba(183, 183, 183, 0.1);
    border: 1px rgb(63,63,63, .15) dashed;

    /* border-style: dashed; */
  }
  
  #dropzone-external > * {
    pointer-events: none;
  }
  
  #dropzone-external.dropzone-active {
    border-style: solid;
  }
  
  .widget-container > span {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  #dropzone-image {
    max-width: 100%;
    max-height: 100%;
  }
  
  #dropzone-text > span {
    font-weight: 100;
    opacity: 0.5;
  }
  
  #upload-progress {
    display: flex;
    margin-top: 10px;
  }
  
  .flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  