@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Anton&family=Montserrat:wght@100;400&family=Noto+Serif&family=Roboto&family=Allerta+Stencil&family=Lobster&effect=shadow-multiple&family=Prompt&display=swap&family=Alfa+Slab+One");
@font-face { font-family: diot; src: url("./../../didot/Didot-HTF-B11-Bold-Ital.ttf"); }
img { display: block; max-width: 100%; }
.media.header.align-self-center { position: sticky; top: 0px; z-index: 999999; background: rgb(176, 196, 222); padding: 4px 14px; margin-left: -15px; width: 108%; box-shadow: rgba(0, 0, 0, 0.45) 20px 20px 20px -26px; height: 65px; margin-top: 0px !important; }
.media-body.align-self-center {text-align: center;letter-spacing: 10px;font-size: 28px;font-family: system-ui;font-weight: 900;font-style: inherit;background-color: rgb(63 63 63);background-clip: text;/* background-color: #666666; */-webkit-background-clip: text;-moz-background-clip: text;background-clip: text;color: transparent;text-shadow: rgb(150, 175, 206) 0px 1px 3px;/* color: transparent; */text-shadow: rgb(252 251 252 / 50%) 0px 3px 3px;}
.preview { overflow: hidden; }
.sub_title { text-transform: uppercase; font-size: 13px; font-weight: 600; }
.page__counter { position: absolute; top: 1%; left: 10%; color: rgba(11, 72, 117, 0.95); }
input.toolbar__input { outline: none; border-radius: 0.3rem; border: none; color: rgb(255, 255, 255); font-size: 16px; background-color: rgba(11, 72, 117, 0.3); padding: 0px 4px; text-align: center; }
.page__counter span { font-weight: 600; }
.color__chooser { position: absolute; top: 1%; right: 10%; }
.color__chooser i { cursor: pointer; padding: 0px 3px; }
.color__chooser i:hover { font-size: larger; }
.color__chooser i.yellow { color: rgb(255, 238, 85); }
.color__chooser i.blue { color: rgb(115, 146, 172); }
.color__chooser i.gray { color: rgb(193, 193, 193); }
.color__choice::before { box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 50%; }
.underline__chooser { position: absolute; top: 1.1%; right: 29%; cursor: pointer; font-size: 16px; letter-spacing: 1px; color: rgba(0, 0, 0, 0.6); text-shadow: rgba(0, 0, 0, 0.2) 2px 4px 4px, rgba(255, 255, 255, 0.15) 0px -5px 10px; }
.underline { text-decoration: underline; }
.zoom__bar { position: absolute; top: 1%; left: 20%; }
.zoom__btn--in, .zoom__btn--out { display: inline-block; margin: 0px 5px; }
input.zoom__box.toolbar__input { width: 60px; }
input.page__index.toolbar__input { width: 24px; }
i.fas.fa-search-plus::before, i.fas.fa-search-minus::before { color: rgb(11, 72, 117); text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; cursor: pointer; }
i.fas.fa-search-plus:hover, i.fas.fa-search-minus:hover { font-size: larger; }
.cv__layout--right.col-md-8 { display: flex; align-items: center; justify-content: center; position: relative; zoom: 0.4; }
.cv { position: relative; width: 210mm; font-family: system-ui; font-size: 14px; box-shadow: rgba(60, 64, 67, 0.31) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; border-radius: 0.2rem; background: rgb(255, 255, 255); }
.cv__header { width: 100%; }
.avatar__box--left { float: left; margin-right: 4px; width: 160px; height: 160px; }
.avatar__uploader { width: 100% !important; height: 100% !important; }
.avatar__box--left.hide { display: none; }
div#preview { border-top-left-radius: 0.2rem; width: 100%; height: 100%; }
#prview > img { max-width: 100%; }
.cv__opening--right { float: left; width: 100%; height: 160px; background-color: rgba(255, 237, 76, 0.95); border-top-right-radius: 0.2rem; }
.cv__textbox { border: 1.2px dashed rgba(63, 63, 63, 0); display: inline-block; padding: 0px; }
.cv__textbox:hover, .cv__textbox:focus { border: 1.4px dashed rgba(63, 63, 63, 0.9); outline: none; }
.cv__textbox p { margin-bottom: 0px !important; }
.cv--fullname { margin: 30px 66px 0px; word-break: break-all; line-height: 40px; max-height: 100px !important; }
.cv__box.cv--position { font-size: 15px; margin: 0px 66px; }
.col-6.cv__aboutme--right { margin-top: 30px; margin-right: 35px; padding-left: 20px; }
.cv--fullname .cv__textbox { font-size: 37px; font-weight: 900; font-family: ui-sans-serif; text-transform: uppercase; letter-spacing: 4px; word-break: break-word; overflow: hidden; max-height: 100px !important; }
.cv__box.cv--quote { font-size: 12px; }
.cv__icon--quote { margin: 10px 0px 0px; }
.cv__icon--quote i.fas.fa-quote-right { color: rgba(216, 50, 60, 0.8); font-size: 35px; }
.cv__aboutme--left { margin-top: 30px; padding-left: 50px; padding-right: 0px; display: flex; flex-flow: column; margin-bottom: 0px !important; }
.cv__aboutme--left .cv__personal__items .cv__textbox { max-width: 195px; overflow: hidden; }
.cv__section__box { margin-bottom: 13px; }
.cv__section__box.hide { display: none; }
.cv__section__box.language__section.right .cv__item, .cv__section__box.skill__section.right .cv__item { width: 48%; }
.cv__section__title--underline { padding: 2px 0px; margin-bottom: 6px; position: relative; }
.cv__section__title--underline.border__bottom { border-bottom: 2px solid; }
.cv__item__icon { padding-top: 1px; padding-left: 0px !important; padding-right: 0px !important; flex: 0 0 10% !important; max-width: 10% !important; }
.process__container { width: 100%; height: 6px; background: lightgray; border-radius: 0.5rem; }
.process__bar { background: black; height: 100%; border-radius: 0.5rem; position: relative; }
.process__percent__box { position: absolute; top: -18px; right: -7px; font-size: 10px; color: rgb(122, 122, 123); }
.process__percent.cv__textbox { margin-right: -3px; }
.process__label {font-size: 12px;font-weight: 550;flex: 0 0 30% !important;max-width: 30% !important;}
.breakline__container.row { height: 6px; margin: 0px !important; }
.breakline.col { background: black; border-radius: 1rem; }
.breakline.col:not(:first-child) { margin-left: 3px; }
.star__container i:not(:first-child) { margin-left: 8px; }
.dot__container i:not(:first-child) { margin-left: 22px; }
.dot__container .not, .star__container .not, .breakline__container .not { color: lightgray; }
.dot__container i, .star__container i, .breakline { cursor: pointer; }
.star__container, .dot__container {display: inline-block;/* float: right; */text-align: right;padding: 0px !important;flex: 0 0 70% !important;width: 70% !important;max-width: 70% !important;}
.breakline:hover { zoom: 1.2; }
.cv__item.row { width: 100%; margin: 0px !important; }
.cv__item__content.cv__item--inlineblock.col-9 { flex: 0 0 90% !important; max-width: 90% !important; padding: 0px !important; }
.cv__item.cv__skill__text__items.row { width: 100%; margin: 0px !important; }
.cv__item.skill_item, .cv__item.language_item { margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 5px !important; }
i.yes:hover, i.not:hover { font-size: larger; }
.item__detail { font-size: 11px; font-weight: 400; display: flex; }
.item__detail .cv__textbox { padding: 0px 10px 0px 0px; text-transform: capitalize; }
.cv__item__content .cv__textbox { font-size: 13px; font-weight: 450; }
.cv__box.cv--position .cv__textbox { font-weight: 400; font-size: 16px; text-transform: uppercase; letter-spacing: 3px; }
.cv__textbox:not(#cv__fullname):not(#cv__wanted__position) { font-family: Montserrat, sans-serif !important; }
.section__title--uppercase { text-transform: uppercase; font-weight: 900; font-family: Montserrat, sans-serif; font-size: 18px; letter-spacing: 5px; }
.cv__aboutme--right { margin-top: 30px; margin-right: 0px; padding-left: 0px; display: flex; padding-right: 50px; flex-flow: column; margin-bottom: 0px !important; }
.cv__paragraph { margin-top: 8px; }
.cv__desc.cv__textbox { font-size: 13px; text-align: justify; }
.cv__aboutme--right .cv__desc, .cv__aboutme--right .sub_title { overflow: hidden; }
.sub_title.cv__certificate__title { overflow: hidden; flex: 0 0 90% !important; max-width: 90% !important; }
.cv__aboutme--left .cv__desc { max-width: 225px; overflow: hidden; }
.certificate__title.row { width: 100%; margin: 0px !important; }
.cv__col__box { width: 100%; display: flex; flex-wrap: wrap; }
.cv__reference__form, .cv__reference__header { font-size: 12px; width: 100%; margin: 0px !important; }
.cv__item.cv__reference:not(:last-child) { margin-bottom: 10px; }
.cv__reference__job__position.col-6.cv__textbox { font-size: 13px; }
.cv__label.col { font-weight: 100; letter-spacing: 1px; padding: 0px !important; }
.cv__certificate__year.col-1.cv__textbox.single {text-decoration: underline;font-size: 13px;letter-spacing: 1px;flex: 0 0 10%;max-width: 10%;}
span.cv__label { font-family: Montserrat, sans-serif !important; }
.cv__reference__header, .cv__reference__body { width: 100%; margin: 0px 0px 0px -1px !important; }
.cv__reference__body .cv__textbox, .cv__reference__header .cv__textbox { max-width: 200px; }
.cv__reference__form .cv__textbox { max-width: 165px; font-style: oblique; }
.cv__lists { display: flex; flex-flow: row wrap; }
ul.cv__list { padding-left: 0px; width: 50%; }
.cv__list__item { padding: 0px 0px 10px; flex: 1 1 50%; margin: 0px !important; }
span.timeline__circle.list__bullet { width: 6px; height: 6px; margin-top: 8px; margin-left: 2px; }
ul.cv__list { list-style: none; margin-bottom: 0px !important; }
.cv__list__item .cv__textbox { text-transform: uppercase; max-width: 85px; padding-left: 5px; }
.cv__location, .cv__date { font-size: 11px; }
.cv__location { margin-left: 20px; }
.cv__date { font-style: italic; }
.cv__timeline { display: flex; width: 100%; }
.cv__timeline .sub_title { max-width: 402px; }
.timeline { padding-right: 1rem; }
.timeline__circle { width: 10px; height: 10px; background-color: rgb(0, 0, 0); position: relative; border-radius: 50%; margin-top: 5px; margin-left: 4px; display: block; }
.timeline__line { width: 2px; height: 93%; background-color: rgb(0, 0, 0); display: block; transform: translate(8px, 0px); }
.post_editor-container { border-radius: 0.2rem; overflow: hidden; margin-bottom: 1.5rem; margin-top: 1.5rem; background-color: rgb(255, 255, 255); }
.post_editor-btn:hover .icon-container { display: block; }
.post_editor-btn { height: 100%; position: relative; z-index: 0; cursor: move; -webkit-box-flex: 1; flex-grow: 1; align-items: center; display: flex; flex-direction: row; }
.post_editor-btn.hide { background: rgb(208, 219, 228); }
i.hide { display: none; }
.icon-container { padding: 0.3rem; display: none; }
.icon-container:hover .remove__icon i { background-color: rgba(216, 50, 60, 0.15) !important; }
.icon-container:hover .remove__icon.display i { color: green !important; background: rgb(211, 255, 211) !important; }
.icon-container img { align-self: flex-start; border-radius: 50%; flex-shrink: 0; max-height: 75px; max-width: 75px; vertical-align: middle; height: 40px; aspect-ratio: auto 40 / 40; width: 40px; }
.remove__icon i { visibility: hidden; animation-delay: 2s; color: rgba(11, 72, 117, 0.5); background-color: rgba(216, 50, 60, 0) !important; padding: 16px !important; }
.section__box--expand:hover .remove__icon i { visibility: visible; }
.icon-container:hover .remove__icon i { color: rgba(216, 50, 60, 0.9); }
input.button.download__btn { margin-top: 10px; text-transform: uppercase; font-size: 10px; letter-spacing: 1px; padding: 14px 25px; border-radius: 0.5rem; font-family: Merriweather, serif; font-weight: 100; color: rgb(255, 255, 255); width: 100%; outline: none; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; top: 10px; z-index: 2147483647; position: sticky; border: none; background-color: rgb(0, 102, 153) !important; }
input.download__btn:hover { box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; background-color: rgb(0, 69, 102) !important; }
.post_instruction-btn { color: rgba(0, 0, 0, 0.55); padding: 1.15rem 0px; text-align: center; width: 100%; height: 100%; }
.post_instruction-btn:hover { color: rgba(11, 72, 117, 0.95); }
.post_editor-expand { display: flex; flex-direction: column; height: 100%; background-color: rgb(255, 255, 255); overflow: hidden; }
#personal__section--block { display: block !important; }
.editor-body { flex: 1 1 auto; padding-top: 1.5rem; overflow-y: auto; }
.editor-body-container { margin-bottom: 1.5rem; padding: 0px 1.5rem; width: 100%; }
.editor-container.notification_details_editor .editor-body-container { padding: 0px; margin: 0px; }
.editor-textarea-box { background-color: rgb(248, 249, 250); border-radius: 4px 4px 0px 0px; padding: 24px 16px 10px; overflow-wrap: break-word; position: relative; }
.editor_title-textarea { top: 24px; color: rgba(11, 72, 117, 0.35); padding-left: 16px; transform-origin: left bottom; transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s; font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif; left: 0px; pointer-events: none; position: absolute; right: 0px; }
.editor_title-textarea.focused { transform: scale(0.75) translateX(5px) translateY(-27px); color: rgba(216, 50, 60, 0.85); font-size: 12px; }
.post_content_editor-textarea { min-height: 6.25rem; margin-top: 5px; outline: none; }
.content_editor_unfocus-line { background-color: rgba(11, 72, 117, 0.65); bottom: -41px; height: 1px; left: 0px; margin: 0px; padding: 0px; position: absolute; width: 100%; }
.content_editor_focus-line { background-color: rgb(216, 50, 60); bottom: -41px; animation: 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s 1 normal none running RemoveUnderline; height: 2px; transform: scaleX(0); left: 0px; margin: 0px; padding: 0px; position: absolute; width: 100%; }
.content_editor_focus-line.focused { transform: scaleX(1); }
.editor-toolbar { background-color: rgb(248, 249, 250); }
.toolbar-btn { height: 34px; width: 36px; margin-top: 2px; opacity: 0.54; color: rgba(0, 0, 0, 0.54); fill: rgba(0, 0, 0, 0.54); user-select: none; transition: background 0.3s ease 0s; border: 0px; border-radius: 50%; cursor: pointer; display: inline-block; flex-shrink: 0; outline: none; overflow: hidden; position: relative; text-align: center; -webkit-tap-highlight-color: transparent; z-index: 0; }
.hidden-toolbar-label { background-image: radial-gradient(circle farthest-side, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12) 80%, rgba(0, 0, 0, 0) 100%); transform: translate(-50%, -50%) scale(0); transition: opacity 0.2s ease 0s, visibility 0s ease 0.2s, -webkit-transform 0s ease 0.2s; background-size: cover; left: 0px; opacity: 0; pointer-events: none; position: absolute; top: 0px; visibility: hidden; }
.text-toolbar-label { position: relative; top: 50%; }
span.toolbar-btn-icon { top: -12px; display: inline-block; position: relative; }
span.text-toolbar-btn-icon.material-icon, .ytb-icon { font-size: 1.5rem; user-select: none; font-family: "Material Icons Extended"; font-weight: normal; font-style: normal; line-height: 1; letter-spacing: normal; text-rendering: optimizelegibility; text-transform: none; display: inline-block; overflow-wrap: normal; direction: ltr; font-feature-settings: "liga"; -webkit-font-smoothing: antialiased; }
.toolbar-btn:hover { color: rgba(0, 0, 0, 0.87); opacity: 0.87; }
.toolbar-btn.focused { color: rgba(0, 0, 0, 0.87); background-color: rgb(224, 224, 224); border-radius: 2px; }
.editor-footer { flex-flow: row wrap; padding: 0px 0.5rem 0.5rem 1.5rem; align-items: center; display: flex; }
.reference_link-nav { margin-bottom: 1rem; margin-right: 1rem; -webkit-box-flex: 99999; flex-grow: 99999; flex-shrink: 0; align-items: center; display: flex; flex-direction: row; }
.reference_link-tabs { height: 3rem; margin-right: 1rem; display: flex; flex-shrink: 0; }
.reference_link-tab { align-items: center; display: flex; flex-direction: row; }
.reference_link-btn { color: rgb(216, 50, 60); fill: rgb(216, 50, 60); user-select: none; transition: background 0.3s ease 0s; border: 0px; border-radius: 50%; cursor: pointer; display: inline-block; flex-shrink: 0; height: 48px; outline: none; overflow: hidden; position: relative; text-align: center; -webkit-tap-highlight-color: transparent; width: 48px; z-index: 0; }
.reference_link-btn:hover { background-color: rgba(11, 72, 117, 0.09); }
.hidden_reference-label { background-image: radial-gradient(circle farthest-side, rgba(0, 123, 131, 0.16), rgba(0, 123, 131, 0.16) 80%, rgba(0, 123, 131, 0) 100%); transform: translate(-50%, -50%) scale(0); transition: opacity 0.2s ease 0s, visibility 0s ease 0.2s, -webkit-transform 0s ease 0.2s; background-size: cover; left: 0px; opacity: 0; pointer-events: none; position: absolute; top: 0px; visibility: hidden; }
span.reference_link-label { align-items: center; display: flex; height: 100%; justify-content: center; position: relative; width: 100%; }
span.reference_link-label-icon { display: flex; position: relative; }
span.reference_link-label-icon svg, .ytb-icon { fill: currentcolor; flex-shrink: 0; height: 24px; width: 24px; transform: none !important; }
.post_action-nav { margin-bottom: 1rem; margin-right: 1rem; -webkit-box-flex: 1; flex-grow: 1; justify-content: flex-end; flex-shrink: 0; align-items: center; display: flex; flex-direction: row; }
.cancel_post-tab { flex-shrink: 0; -webkit-font-smoothing: antialiased; user-select: none; transition: background 0.2s ease 0.1s; border: 0px; border-radius: 4px; color: rgb(95, 99, 104); cursor: pointer; display: inline-block; font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 14px; font-weight: 500; letter-spacing: 0.25px; line-height: 36px; text-decoration: none; text-transform: none; min-width: auto; outline: none; overflow: hidden; position: relative; text-align: center; -webkit-tap-highlight-color: transparent; z-index: 0; }
.cancel_post-tab:hover { background-color: rgba(11, 72, 117, 0.05); }
.hiden_cancel_post-btn { background-image: radial-gradient(circle farthest-side, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12) 80%, rgba(0, 0, 0, 0) 100%); transform: translate(-50%, -50%) scale(0); transition: opacity 0.2s ease 0s, visibility 0s ease 0.2s, -webkit-transform 0s ease 0.2s; background-size: cover; left: 0px; opacity: 0; pointer-events: none; position: absolute; top: 0px; visibility: hidden; }
span.cancel_post-btn { padding: 0px 8px; -webkit-box-align: center; align-items: center; display: flex; position: relative; }
span.post_cancel-label { display: inline-block; margin: 0px; }
.upload_post-tab { flex-shrink: 0; align-items: center; flex-direction: row; background: rgba(11, 72, 117, 0.12); box-shadow: none; fill: rgba(0, 0, 0, 0.38); -webkit-font-smoothing: antialiased; user-select: none; transition: background 0.2s ease 0.1s; border: 0px; border-radius: 4px; color: rgb(95, 99, 104); cursor: pointer; display: inline-block; font-family: "Google Sans", Roboto, Arial, sans-serif; font-size: 14px; font-weight: 500; letter-spacing: 0.25px; line-height: 36px; text-decoration: none; text-transform: none; min-width: auto; outline: none; overflow: hidden; position: relative; text-align: center; -webkit-tap-highlight-color: transparent; z-index: 0; }
.upload_post-tab:not(.empty) { background-color: rgba(11, 72, 117, 0.9); color: rgb(255, 255, 255); }
.upload_post-tab.empty:hover { background-color: rgba(11, 72, 117, 0.09); cursor: context-menu; }
.upload_post-tab:not(.empty):hover { background-color: rgb(11, 72, 117); }
.remove__tab { position: absolute; top: 5px; cursor: pointer; right: 10px; }
.remove__tab i { font-size: 25px; color: rgba(216, 50, 60, 0.9); background-color: rgba(216, 50, 60, 0); padding: 4px 8px; }
.remove__tab i:hover { color: rgba(255, 255, 255, 0.8); background-color: rgba(216, 50, 60, 0.5); }
.upload_post-tab.remove__tab:hover { background-color: rgba(216, 50, 60, 0.95) !important; }
.hiden_upload_post-btn { background-image: radial-gradient(circle farthest-side, rgba(255, 255, 255, 0.32), rgba(255, 255, 255, 0.32) 80%, rgba(255, 255, 255, 0) 100%); transform: translate(-50%, -50%) scale(0); transition: opacity 0.2s ease 0s, visibility 0s ease 0.2s, -webkit-transform 0s ease 0.2s; background-size: cover; left: 0px; opacity: 0; pointer-events: none; position: absolute; top: 0px; visibility: hidden; }
span.upload_post-btn { padding: 0px 24px; -webkit-box-align: center; align-items: center; display: flex; position: relative; }
span.upload_post-label { display: inline-block; margin: 0px; }
.addition__box i { padding-right: 10px; }
.addition__box { font-weight: 700; color: rgba(11, 71, 117, 0.9); margin: 9px 0px; }
.addition__box:hover * { color: rgba(11, 71, 117, 0.95); }
.cropper__container { display: none; position: relative; margin-bottom: 20px; }
.cropper-container.cropper-bg { border-radius: 0.5rem !important; }
.cropper-wrap-box { border-radius: 0.5rem !important; }
.section__box--expand p { margin-right: 0px; float: none; font-size: 14px; line-height: 1.6em; width: 100% !important; }
.section__box--expand p label { width: 100%; color: rgb(47, 50, 57); display: block; font-size: 13px; font-weight: bold; margin: 0px !important; }
.section__box--expand p label span { margin-left: 3px; color: rgb(255, 0, 0); font-size: 12px; font-weight: normal; margin-top: 5px; }
.section__box--expand p input { padding: 10px 12px; outline: none; font-size: 13px; margin: 0px; width: 100%; display: block; color: rgb(47, 50, 57); border: 1px solid rgb(222, 222, 222); transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s; background: rgb(255, 255, 255); border-radius: 2px; }
.section__box--expand p span.infocenter-qform-desc { width: 100%; display: inline-block; font-size: 12px; font-weight: normal; margin-top: 5px; color: rgb(132, 137, 145); }
.w3-display-left { left: -6% !important; top: 30% !important; }
.w3-display-right { right: -6% !important; top: 30% !important; }
button.w3-button { background-color: rgba(11, 72, 117, 0.95) !important; outline: none !important; }
button.w3-button:hover { background-color: rgba(63, 63, 63, 0.35) !important; }
div#custom__scrollbar { background-color: rgba(11, 72, 117, 0.1); position: relative; }
.cv__separator { position: absolute; width: 100%; border-bottom: 1px dashed; display: none; }
.cv:hover .cv__separator { display: block; }
.experience__company.row { width: 100%; margin: 0px !important; }
.experience__content { width: 100%; }
.tox-notifications-container { display: none !important; }
.ce-toolbar__actions { position: absolute; right: 0px; top: 5px; opacity: 0; }
.ce-toolbar__actions--opened { opacity: 1; }
.ce-toolbar__actions-buttons { text-align: right; }
.ce-toolbar__settings-btn:hover { color: rgb(29, 32, 43); }
.ce-toolbar__settings-btn { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; width: 18px; height: 18px; color: rgb(112, 118, 132); cursor: pointer; background: rgb(239, 242, 245); user-select: none; }
.ce-settings { position: absolute; background-color: rgb(255, 255, 255); border: 1px solid rgb(234, 234, 234); box-shadow: rgba(13, 20, 33, 0.13) 0px 3px 15px -3px; border-radius: 4px; z-index: 2; right: -1px; top: 30px; min-width: max-content; box-sizing: content-box; display: none; }
.ce-settings--opened { display: block; animation-duration: 0.1s; animation-name: panelShowing; }
.ce-settings__default-zone:not(:empty) { padding: 3px; }
.ce-settings__button { display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; width: 34px; height: 34px; text-align: center; border-radius: 3px; cursor: pointer; border: 0px; outline: none; background-color: transparent; vertical-align: bottom; color: rgb(0, 0, 0); margin: 0px; line-height: 32px; padding: 0px !important; }
.ce-settings__button:not(:nth-child(3n+3)) { margin-right: 3px; }
.ce-settings__button:hover { background-color: rgb(239, 242, 245); }
.cv__section__box:hover .ce-toolbar__actions { opacity: 1; }
iframe#pdf-preview { display: none; position: absolute; top: 0px; transform: translate(12%, 2%); left: 0px; width: 80%; height: 95%; z-index: 2147483647; }
.tox-editor-header { max-width: 101.25px !important; }
.tox-toolbar__overflow { transform: translate(90%, -135%); max-width: 417px !important; }
.container-fluid.main__body { position: relative; }
.drop__zone { margin-bottom: 20px; }
.BlockWrapper { display: flex; flex: 1 1 0%; flex-direction: row; justify-content: center; }
article.BlockLayout.BlockLayout--typeGrid { background: lightsteelblue; border-radius: 0.5rem; }
.BlockWrapper__col { flex: 1 1 0%; margin: 0px 15px; }
span.Block.Block--item2.Block--isDraggable { flex: 1 1 0%; margin: 0px; padding: 0px; }
.remove__icon { cursor: pointer; }
.left .timeline { display: none; }
.left .experience__content .col, .left .education__content .col { display: none; }
.left .experience__content .col-6, .left .experience__content .col-5, .left .education__content .col-6, .left .education__content .col-5 { flex: 1 1 100%; }
.left .cv__col__box { width: 100%; flex-direction: column; }
.right .cv__item.cv__list__item { flex: 1 1 25%; }
.right .cv__skill__items, .right .cv__language__items { display: flex; flex-wrap: wrap; column-gap: 15px; }
.cv__item.cv__reference { width: 50%; }
.cv__item .ce-toolbar__actions { top: 100%; right: 7%; }
.left .cv__item.cv__reference { flex: 1 1 100%; width: 100%; }
.left .certificate__title.row { flex-direction: column; }
.left .certificate__title .cv__textbox {max-width: 100% !important;width: 100% !important;flex: 0 0 100% !important;}
.move__icon {position: absolute;top: 0;right: 25px;padding: 7px 9.5px;background: none;/* width: 16px; *//* height: 16px; */color: rgb(0, 102, 153);cursor: pointer;/* color: rgb(0, 102, 153);;/* display: block; */}
.cv__item {position: relative;z-index: 0;}
.remove__item:hover { background: rgba(216, 50, 60, .2);}
.move__icon:hover {/* display: block; */background: rgba(0, 102, 153, .2);}
.cv__item:hover .item__settings:not(.bi) {/* display: flex; *//* color: rgb(216, 50, 60); */visibility: visible;z-index: 1 !important;}
.cv__item:focus .move__icon { display: none; }
.cv__item:focus .remove__item { display: none; }
.move-icon i { width: 16px; height: 16px; }
.move__icon i { height: 16px; width: 16px; font-size: 16px; }
.remove__item {position: absolute;top: 0;right: 62px;color: rgb(216, 50, 60);/* width: 16px; *//* height: 16px; */padding: 7px 9.5px;background: none;cursor: pointer;/* display: none; */}
.item__settings {
    position: absolute;
    visibility: hidden;
    bottom: -20%;
    display: flex;
    width: 110%;
    border-radius: .2rem;
    height: calc(100% + 43px);
    gap: 10px;
    background: rgb(237, 241, 248);
    left: -5%;
}

.cv__item:hover *:not(.bi), .cv__item:hover {
    z-index: 2;
}

.cv__item:hover .remove__item i, .cv__item:hover .move__icon i {
    z-index: 3 !important;
}

.cv__item:hover .bi {
    z-index: 1000 !important;
}

.tox.tox-tinymce.tox-tinymce-inline.tox-tinymce--toolbar-sticky-off {
    z-index: 999999999999999;
}
@media (min-width: 768px) {
  .cv__layout--right.col-md-8 { zoom: unset; }
  #custom__scrollbar { overflow: clip scroll; height: 320mm; box-shadow: rgba(60, 64, 67, 0.31) 1px 0px 2px 0px, rgba(60, 64, 67, 0.15) 0px 4px 6px 4px; }
  #custom__scrollbar::-webkit-scrollbar-track { box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px inset; background-color: rgb(245, 245, 245); }
  #custom__scrollbar::-webkit-scrollbar { width: 8px; background-color: rgb(245, 245, 245); }
  #custom__scrollbar::-webkit-scrollbar-thumb { background-color: rgba(11, 72, 117, 0.75); border: 2px solid rgb(237, 237, 237); }
  .w3-display-container::-webkit-scrollbar { width: 0px; display: none; }
  .w3-content.w3-display-container { overflow: clip scroll; margin-top: 40px; padding: 25px 10px; }
}
